<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  {{ 'application.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="template-{{ template.name }} suffix-{{ template.suffix }} tag-{{ product.tags | join: ' tag-' }} min-h-screen grid">
 <header class="sticky z-50 h-[60px] top-0 bg-wu-blue text-white flex justify-between align-middle p-2">
   <a href="/" class="leading-none main-logo">
    <svg viewBox="0 0 171 27" fill="none" xmlns="http://www.w3.org/2000/svg"  class="fill-current text-white h-[24px] lg:h-[33px]">
      <path d="M18.2339 1.23438L24.1217 16.0805L29.4525 1.23438H34.8139L25.2779 25.3874H23.0772L17.8293 12.5314L12.7608 25.3874H10.5601L0 1.23438H5.36639L11.5995 16.0805L17.4129 1.23438H18.2339Z"/>
      <path d="M90.0709 11.6615C90.0709 15.0297 89.8102 16.4786 88.952 18.5788C87.8719 21.077 85.6356 23.3598 82.9897 24.664C81.1631 25.5685 79.1875 26.0044 76.8378 26.0044C69.0862 26.0044 63.1967 20.536 63.1967 13.3308C63.1837 11.6862 63.5061 10.0554 64.1454 8.53254C64.7846 7.00965 65.7279 5.62483 66.921 4.45802C69.418 2.06837 73.1456 0.621094 76.7227 0.621094C79.6006 0.621094 83.1725 1.70491 85.1464 3.15547C85.7067 3.55347 86.1536 3.98766 87.1609 5.00075L83.4366 8.07786C82.9007 7.51201 82.3279 6.98024 81.7217 6.48585C80.3818 5.43312 78.7048 4.8693 76.9817 4.8922C75.8277 4.89197 74.685 5.11334 73.6193 5.54356C72.5537 5.97379 71.5861 6.6044 70.7721 7.39915C69.9581 8.19389 69.3139 9.13708 68.8764 10.1745C68.4389 11.212 68.2168 12.3232 68.2228 13.4443C68.2214 14.5397 68.4436 15.6244 68.8766 16.6358C69.3096 17.6472 69.9448 18.5651 70.7453 19.3365C71.5459 20.1078 72.496 20.7172 73.5406 21.1295C74.5852 21.5417 75.7036 21.7486 76.831 21.7382C78.1771 21.7442 79.5033 21.4226 80.6885 20.8026C81.8737 20.1827 82.8802 19.2841 83.616 18.1891C84.1002 17.5312 84.2932 17.102 84.6605 15.8356H78.2107L79.9628 11.6697L90.0709 11.6615Z"/>
      <path d="M102.529 25.3874H97.645V1.23438H98.9858L113.599 15.4687V1.23438H118.481V25.3874H116.918L102.529 11.2633V25.3874Z"/>
      <path d="M141.657 15.1743H133.457V21.2249H141.921V25.3907H128.578V1.23438H141.625V5.39858H133.457V11.0117H141.657V15.1743Z"/>
      <path d="M160.012 1.23438C164.635 1.23438 167.391 3.98584 167.391 8.62042C167.391 11.3357 166.235 13.7994 164.484 14.8486C164.187 15.0295 163.33 15.3914 161.945 15.9719L170.518 25.3874H164.405L156.577 16.6956V25.3874H151.695V1.23438H160.012ZM158.446 12.1695C159.631 12.1695 160.012 12.1334 160.571 11.8784C161.652 11.3735 162.36 10.1417 162.36 8.6566C162.36 6.6666 161.055 5.39858 159.042 5.39858H156.582V12.1695H158.446Z"/>
      <path d="M42.6752 22.1248L41.2228 25.3861H35.6685L47.7081 0.0078125L59.2196 25.3944H53.6721L52.2924 22.1331L42.6752 22.1248ZM47.7081 11.2275L44.5391 17.9623H50.4641L47.7081 11.2275Z"/>
      </svg>
   </a>
   <nav class="uppercase font-bold p-1">
    {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% comment %}
      [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
      {% endfor %}]
    {% endcomment %}
    {% else %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
  {% endfor %}

  <a href="/cart">cart</a>

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out' | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}

   </nav>
 </header>

  <main role="main" class="bg-wu-blue">
    {{ content_for_layout }}
  </main>
  <footer class="h-10 bg-wu-blue">

  </footer>
  </body>
</html>
